.block {
  width: 30px;
  height: 30px;
  background-color: black;
  border: 0.5px solid white; }
  .block.is-pressed {
    background-color: green; }
  .block .number-container {
    line-height: 30px;
    font-size: 20px;
    margin: auto;
    width: 50%;
    color: white;
    cursor: default; }
  .block.clickable:hover {
    background-color: #565656;
    cursor: pointer; }
