.block {
  &.is-pressed {
    background-color: green;
  }
  $sideSize: 30px;
  width: $sideSize;
  height: $sideSize;
  background-color: black;
  .number-container {
    line-height: $sideSize;
    font-size: 20px;
    margin: auto;
    width: 50%;
    color: white;
    cursor: default;
  }
  &.clickable:hover {
    background-color: #565656;
    cursor: pointer;
  }
  border: 0.5px solid white;
}